

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting"></article>
    <!-- Blog Banner -->
    <section class="detail-banner">
        <div class="container">
            <div class="flex jc-sb ai-center blog-detail-banner">
                <div class="detailCopy">
                    <span>{{ article.published_at | time_tag: format: 'date' }}</span>
                    <h4> {{ article.title }} </h4>
                </div>
                <div class="detailImage">
                    {% render 'responsive-image', image: article.image  %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Post -->
    <section class="blog-description">
        <div class="container">
            <div class="blog-desc-row flex jc-sb">
                <div class="blog-desc-col">
                    <div class="blog-social">
                        <a href="#"><img src="assets/images/facebook.svg" alt="facebook"></a>
                        <a href="#"><img src="assets/images/pointerest-icon.svg" alt="pinterest"></a>
                        <a href="#"><img src="assets/images/twitter-icon.svg" alt="twitter"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit elit sed ut in urna, sed augue tincidunt. Risus eget egestas mattis egestas dui habitant. Feugiat pellentesque donec odio massa auctor tortor urna non aliquet. Augue eget molestie neque, leo nisl risus porttitor. Cursus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit elit sed ut in urna, sed augue tincidunt. Risus eget egestas mattis egestas dui habitant. Feugiat pellentesque donec odio massa auctor tortor urna non aliquet. Augue eget molestie neque, leo nisl risus porttitor. Cursus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit elit sed ut in urna, sed augue tincidunt. Risus eget egestas mattis egestas dui habitant. Feugiat pellentesque donec odio massa auctor tortor urna non aliquet. Augue eget molestie neque, leo nisl risus porttitor. Cursus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu mus viverra imperdiet facilisi. Eget venenatis, ullamcorper placerat nibh. Elementum nulla orci phasellus id. Lorem massa vitae faucibus posuere purus pulvinar urna etiam. Vulputate aliquam suspendisse volutpat non.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu varius suspendisse sodales vel commodo eget scelerisque tempor. Mauris, nulla eu turpis gravida neque pretium. Orci neque.</p>
                    <div class="quote">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere tempor iaculis sed orci. Vulputate nunc cursus enim, sollicitudin amet. Vel enim, felis vulputate malesuada parturient urna, fusce. Egestas amet amet non ac lacus, consequat, enim quam. </p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada orci sociis magnis neque vitae nullam. Mauris, a dui vulputate dolor. Eu lacus, turpis mi iaculis. Fermentum nulla nunc, egestas enim dignissim diam phasellus. Faucibus aliquam, mattis pharetra arcu molestie. Justo, nisi, dictum nullam elementum, vulputate. Etiam amet morbi nullam vestibulum malesuada.</p>
                    <div class="blog-suggest flex ai-center">
                        <div class="suggestImage">
                            <img src="assets/images/man-worker.png" alt="image">
                        </div>
                        <div class="suggest-text">
                            <h4>Iaculis tempor at lacus leo.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum elit, est sed nisl. Sit feugiat commodo lorem vitae sollicitudin. Nunc diam nibh nam et accumsan, vel vel leo, non. Luctus semper urna, eget sociis placerat in pellentesque magnis tempus. Sem tincidunt sed cursus.</p>
                        </div>
                    </div> 
                    <h4>Key Summary</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem consequat faucibus molestie diam eu tellus risus odio. Sit aliquet nam donec consequat nibh quis. Mattis morbi lectus tempor egestas dui. Ac sem lorem pharetra eget mattis. Sed in in auctor.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra id tincidunt pharetra pellentesque. Bibendum amet egestas eget erat laoreet facilisis. </li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet blandit vulputate.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nibh ullamcorper ut et nunc euismod. Quis orci pulvinar nullam purus. Nunc fringilla feugiat egestas.</li>
                    </ul>
                    <h4>Neque integer pharetra urna.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada orci sociis magnis neque vitae nullam. Mauris, a dui vulputate dolor. Eu lacus, turpis mi iaculis. Fermentum nulla nunc, egestas enim dignissim diam phasellus. Faucibus aliquam, mattis pharetra arcu molestie. Justo, nisi, dictum nullam elementum, vulputate. Etiam amet morbi nullam vestibulum malesuada.</p>
                    <img src="assets/images/blog-inner.jpg" alt="blogImage">
                    <h4>Neque integer pharetra urna.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada orci sociis magnis neque vitae nullam. Mauris, a dui vulputate dolor. Eu lacus, turpis mi iaculis. Fermentum nulla nunc, egestas enim dignissim diam phasellus. Faucibus aliquam, mattis pharetra arcu molestie. Justo, nisi, dictum nullam elementum, vulputate. Etiam amet morbi nullam vestibulum malesuada.</p>

                    <div class="navigation-wrap flex ai-center jc-sb">
                        <a href="#" class="prev-post">
                            <span><img src="assets/images/arrow-left-long.svg" alt="left arrow"></span>
                            <div class="navPost-desc">
                                <span>Previous Blog</span>
                                <h4>Pharetra leo nibh...</h4>
                            </div>
                        </a>

                        <a href="#" class="next-post">
                            <span><img src="assets/images/arrow-right-long.svg" alt="right arrow"></span>
                            <div class="navPost-desc">
                                <span>Next Blog</span>
                                <h4>Tincidunt nec vitae...</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="recent-blogs">
                    <h4>Recent Blogs</h4>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque suspendisse at.</a>
                            <span>Jan 14, 2022</span>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque suspendisse at.</a>
                            <span>Jan 21, 2022</span>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque suspendisse at.</a>
                            <span>Aug 31, 2022 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>    
</article>
<script
  type="application/ld+json">
  {
  "@context": "http://schema.org",
        "@type": "Article",
        "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": {{ request.origin | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    "image": [
    {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
          "@type": "Person",
          "name": {{ article.author | json }}
  },
  "publisher": {
          "@type": "Organization",{% if settings.share_image %}
    "logo": {
    "@type": "ImageObject",
                  "height": {{ settings.share_image.height | json }},
    "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
    "width": {{ settings.share_image.width | json }}
    },
  {% endif %}
  "name": {{ shop.name | json }}
  }
  }
</script>


{% schema %}
  {
    "name": "t:sections.main-article.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "content",
        "name": "t:sections.main-article.blocks.content.name",
        "limit": 1,
        "settings": [
            {
                "type": "header",
                "content": "t:sections.main-article.blocks.share.name"
            },
            {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-article.blocks.share.settings.text.label",
            "default": "Share"
          },{
            "type": "checkbox",
            "id": "show_social",
            "default": true,
            "label": "Show Social"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.title_info.content"
          }
        ]
      }, {
        "type": "recent_blog",
        "name": "Recent Blogs",
        "limit": 1                
      }
    ]
  }
{% endschema %}