

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting"></article>
    <!-- Blog Banner -->
    <section class="detail-banner">
        <div class="container">
            <div class="flex jc-sb ai-center blog-detail-banner">
                <div class="detailCopy">
                    <span>{{ article.published_at | time_tag: format: 'date' }}</span>
                    <h4> {{ article.title }} </h4>
                </div>
                <div class="detailImage">
                    {% render 'responsive-image', image: article.image  %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Post -->
    <section class="blog-description">
        <div class="container">
            <div class="blog-desc-row flex jc-sb">
                {% for block in section.blocks %}
                    {% case block.type %}
                    {%- when '@app' -%}
                        <div class="container">
                          {% render block %}
                        </div>
                    {% when 'content' %}
                        <div class="blog-desc-col">  
                            {% if block.settings.show_social %}                                
                            <div class="blog-social">
                                {%- if settings.social_facebook_link != blank -%}
                            <a href="{{ settings.social_facebook_link }}" target="_blank">
                                {%- render 'icons-facebook-contact' -%}
                                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>      
                            </a>
                                {%- endif -%}
                                {%- if settings.social_instagram_link != blank -%}
                                <a href="{{ settings.social_facebook_link }}" target="_blank">
                                    {%- render 'icons-instagram-contact' -%}
                            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                                    </a>
                                {%- endif -%}
                                {%- if settings.social_tiktok_link != blank -%}
                                <a href="{{ settings.social_tiktok_link }}" target="_blank">
                                {%- render 'icons-tiktok-contact' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                                </a>
                            {%- endif -%}
                            {%- if settings.social_pinterest_link != blank -%}
                                <a href="{{ settings.social_pinterest_link }}" target="_blank">
                                {%- render 'icons-pinterest-contact' -%}
                                <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                                </a>
                            {%- endif -%}
                            {%- if settings.social_twitter_link != blank -%}
                                <a href="{{ settings.social_twitter_link }}" target="_blank">
                                {%- render 'icons-twitter-contact' -%}
                                <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                                </a>
                            {%- endif -%}
                            {%- if settings.social_tumblr_link != blank -%}
                                <a href="{{ settings.social_tumblr_link }}" target="_blank">
                                {%- render 'icons-tumblr-contact' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                                </a>
                            {%- endif -%}

                            {%- if settings.social_snapchat_link != blank -%}
                                <a href="{{ settings.social_snapchat_link }}" target="_blank">
                                {%- render 'icons-snapchat-contact' -%}
                                <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                                </a>
                            {%- endif -%}

                            {%- if settings.social_youtube_link != blank -%}
                                <a href="{{ settings.social_youtube_link }}" target="_blank">
                                {%- render 'icons-youtube-contact' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                                </a>
                            {%- endif -%}
                            {%- if settings.social_vimeo_link != blank -%}
                            <a href="{{ settings.social_vimeo_link }}" target="_blank">
                                {%- render 'icons-vimeo-contact' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                                </a>
                            {%- endif -%}
                            </div>                            
                            {% endif %}                                                         
                            
                            
                            <div class="blog-content">
                                {{ article.content }}
                            </div>
        
                            {% if block.settings.show_sharing %}                                
                            <div class="article-template__social-sharing container" {{ block.shopify_attributes }}>
                                <share-button class="share-button" {{ block.shopify_attributes }}>
                                  <button class="share-button__button hidden">
                                    {% render 'icon-share' %}
                                    {{ block.settings.share_label | escape }}
                                  </button>
                                  <details id="Details-{{ block.id }}-{{ section.id }}">
                                    <summary class="share-button__button">
                                      {% render 'icon-share' %}
                                      {{ block.settings.share_label | escape }}
                                    </summary>
                                    <div id="Article-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                                      <div class="field">
                                        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                                        </span>
                                        <input type="text"
                                              class="field__input"
                                              id="url"
                                              value="{{ request.origin | append: article.url }}"
                                              placeholder="{{ 'general.share.share_url' | t }}"
                                              onclick="this.select();"
                                              readonly
                                        >
                                        <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                                      </div>
                                      <button class="share-button__close hidden no-js-hidden">
                                        {% render 'icon-close' %}
                                        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                                      </button>
                                      <button class="share-button__copy no-js-hidden">
                                        {% render 'icon-clipboard' %}
                                        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                                      </button>
                                    </div>
                                  </details>
                                </share-button>
                                <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                              </div>
                            {% endif %}

                            {%- if block.settings.blog_show_previous_and_next_buttons -%}
                            <div class="navigation-wrap flex ai-center jc-sb">
                                <a role="link" href="{{ blog.previous_article.url | default: 'javascript:void(0)' }}" class="prev-post">
                                    <span> {% render 'icon-arrow-left-long' %} </span>
                                    <div class="navPost-desc">
                                        <span>Previous Blog</span>
                                        <h4> {{ blog.previous_article.title | truncatewords: 3 }} </h4>
                                    </div>
                                </a>
        
                                <a role="link" href="{{ blog.next_article.url | default: 'javascript:void(0)' }}" class="next-post">
                                    <span> {% render 'icon-arrow-right-long' %} </span>
                                    <div class="navPost-desc">
                                        <span>Next Blog</span>
                                        <h4> {{ blog.next_article.title | truncatewords: 3 }} </h4>
                                    </div>
                                </a>
                            </div>
                            {%- endif -%}
                        </div>
                    {% when 'recent_blog' %}                           
                        <div class="recent-blogs">
                            <h4>{{ block.settings.heading }}</h4>
                            <ul>
                                {% for articl in blog.articles limit: 3 %}
                                    {% if articl.handle == article.handle %}
                                        {% continue %}
                                    {% else %}
                                        <li>
                                            <a href="{{ articl.url }}"> {{ articl.title }} </a>
                                            <span> {{ articl.published_at | time_tag : format: 'date' }} </span>
                                        </li>
                                    {% endif %}
                                {% endfor %}            
                            </ul>
                        </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
        {%- if blog.comments_enabled? -%}
          <div id="comments" class="container">
            {%- if article.comments_count > 0 -%}
                  {%- assign anchorId = '#Comments-' | append: article.id -%}
        
                  <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
                  {% paginate article.comments by 5 %}
                    <div class="article-template__comments">
                      {%- if comment.status == 'pending' and comment.content -%}
                        <article id="{{ comment.id }}" class="article-template__comments-comment">
                          {{ comment.content }}
                          <footer class="right">
                            <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                          </footer>
                        </article>
                      {%- endif -%}
        
                      {%- for comment in article.comments -%}
                        <article id="{{ comment.id }}" class="article-template__comments-comment">
                          {{ comment.content }}
                          <footer class="right">
                            <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                          </footer>
                        </article>
                      {%- endfor -%}
                      {% render 'pagination', paginate: paginate, anchor: anchorId %}
                    </div>
                  {% endpaginate %}
                {%- endif -%}
          </div>
        {%- endif -%}
    </section>    
</article>
<script
  type="application/ld+json">
  {
  "@context": "http://schema.org",
        "@type": "Article",
        "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": {{ request.origin | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    "image": [
    {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
          "@type": "Person",
          "name": {{ article.author | json }}
  },
  "publisher": {
          "@type": "Organization",{% if settings.share_image %}
    "logo": {
    "@type": "ImageObject",
                  "height": {{ settings.share_image.height | json }},
    "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
    "width": {{ settings.share_image.width | json }}
    },
  {% endif %}
  "name": {{ shop.name | json }}
  }
  }
</script>


{% schema %}
  {
    "name": "t:sections.main-article.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "content",
        "name": "t:sections.main-article.blocks.content.name",
        "limit": 1,
        "settings": [
            {
                "type": "header",
                "content": "t:sections.main-article.blocks.share.name"
            },
            {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-article.blocks.share.settings.text.label",
            "default": "Share"
          },{
            "type": "checkbox",
            "id": "show_sharing",
            "default": false,
            "label": "Show Social Sharing"
          },{
            "type": "checkbox",
            "id": "show_social",
            "default": true,
            "label": "Show Social Icons"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.title_info.content"
          },{
            "type": "header",
            "content": "Prev/Next Blogpost"
          },
          {
            "type": "checkbox",
            "id": "blog_show_previous_and_next_buttons",
            "label": "Show next/ previous buttons",
            "default": true
            }
        ]
      }, {
        "type": "recent_blog",
        "name": "Recent Blogs",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Recent Blogs"
            }
        ]                
      }
    ]
  }
{% endschema %}