<!-- Blog Post -->

{%- paginate blog.articles by 9 -%}
  <section class="blogs-listing">
    <div class="container">
      {% assign counts = 0 %}
      {%- for article in blog.articles -%}
        {% if forloop.first %}
          <div class="blog-area full-size">
            <div class="flex jc-sb blog-row">
              <div class="blog-image">
                {% render 'responsive-image', image: article.image %}
              </div>
              <div class="blog-copy">
                <div class="blogCopy">
                  {%- if section.settings.show_date -%}
                    <span>{{ article.published_at | time_tag: format: 'date' }}
                    </span>
                  {%- endif -%}
                  {%- if section.settings.show_author -%}
                    <span class="author">Post by {{ article.author }}
                    </span>
                  {%- endif -%}
                  <h4>
                    {{ article.title | truncate: 50 | escape }}
                  </h4>
                  {%- if section.settings.show_excerpt -%}
                    {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                      <p>
                        {%- if article.excerpt.size > 0 -%}
                          {{ article.excerpt | strip_html | truncatewords: 40 }}
                        {%- else -%}
                          {{ article.content | strip_html | truncatewords: 40 }}
                        {%- endif -%}
                      </p>
                    {%- endif -%}
                    <div class="article-card__footer">
                      {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                        <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
                <a href="{{ article.url }}">Read More <img
                    height=""
                    width=""
                    loading="lazy"
                    src="{{ 'long-arrow-right.svg' | asset_url }}"
                    alt="arrow icon">
                </a>
              </div>
            </div>
          </div>
        {% else %}
          {% assign count = counts | modulo: 2 %}
<!--            create a script to wrap 2 card in a wrapper div in theme.liquid -->
            {% if count == 0 %}
              {%- render 'pink-article-card' 
                , article: article,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true -%}
            {% else %}
              {%- render 'custom-article-card' 
                , article: article,
                show_image: section.settings.show_image,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true -%}
            {% endif %}

        {% endif %}
        {% assign counts = counts | plus: 1 %}
      {%- endfor -%}
      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
  </section>
{%- endpaginate -%}
{% schema %}
  {
    "name": "t:sections.main-blog.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
        "label": "t:sections.main-blog.settings.show_image.label"
      }, {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "t:sections.main-blog.settings.show_date.label"
      }, {
        "type": "checkbox",
        "id": "show_author",
        "default": true,
        "label": "t:sections.main-blog.settings.show_author.label"
      }, {
        "type": "checkbox",
        "id": "show_excerpt",
        "default": true,
        "label": "Show Excerpt"
      }
    ]
  }
{% endschema %}