<!-- FAQS -->
<section class="faq-section">
    <div class="container">
        <div class="faq-tabs flex jc-sb">
            <div class="faq-sidebar">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">                                                      
                        <a class="nav-item nav-link active show"  data-toggle="tab" href="#general">General Questions <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>
                        <a class="nav-item nav-link"  data-toggle="tab" href="#kratom">Kratom <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>
                        <a class="nav-item nav-link"  data-toggle="tab" href="#kava">Kava <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>
                        <a class="nav-item nav-link"  data-toggle="tab" href="#kranium">Kranium <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>
                        <a class="nav-item nav-link"  data-toggle="tab" href="#krakava">Krakava <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>
                        <a class="nav-item nav-link"  data-toggle="tab" href="#sweet-kava">Sweet Kava <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>
                        <a class="nav-item nav-link"  data-toggle="tab" href="#subscription">Subscription <img loading="lazy" width="" height="" src="{{ 'angle-right.svg' | asset_url }}" alt="angle right"></a>                         
                    </div>
                </nav>
            </div>
            <div class="faq-tab-content">
                <div class="tab-content px-sm-0" id="nav-tabContent">
                    <!-- Tab1 -->
                    <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">
                            {% for block in section.blocks %}
                                {% if block.type == "general" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab2 -->
                    <div class="tab-pane fade" id="kratom" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">                            
                            {% for block in section.blocks %}
                                {% if block.type == "kratom" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab3 -->
                    <div class="tab-pane fade" id="kava" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">
                            {% for block in section.blocks %}
                                {% if block.type == "kava" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab4 -->
                    <div class="tab-pane fade" id="kranium" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">
                            {% for block in section.blocks %}
                                {% if block.type == "kava" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab5 -->
                    <div class="tab-pane fade" id="krakava" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">
                            {% for block in section.blocks %}
                                {% if block.type == "krakava" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab6 -->
                    <div class="tab-pane fade" id="sweet-kava" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">
                            {% for block in section.blocks %}
                                {% if block.type == "sweet-kava" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab7 -->
                    <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="faq-list">
                            {% for block in section.blocks %}
                                {% if block.type == "subscription" %}
                                    {% if block.settings.quiz != blank %}                                        
                                    <!-- Tab -->
                                    <div class="tab_outer">
                                        <div class="accordion_head">
                                            <p> {{ block.settings.quiz }} </p>
                                        </div>
                                        <div class="accordion_body" style="display: none;">
                                           <p> {{ block.settings.answer }} </p>
                                        </div>
                                    </div>        
                                    {% endif %}
                                {% endif %}                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "FAQs",        
        "settings": [],
        "blocks": [
            {
                "type": "general",
                "name": "General Questions",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            },
            {
                "type": "kratom",
                "name": "Kratom",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            },            
            {
                "type": "kava",
                "name": "Kava",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            },            
            {
                "type": "kranium",
                "name": "Kranium",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            },            
            {
                "type": "krakava",
                "name": "Krakava",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            },            
            {
                "type": "sweet-kava",
                "name": "Sweet Kava",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            },            
            {
                "type": "subscription",
                "name": "Subscription",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "answer",
                        "label" : "Answer"
                    }
                ]
            }
        ]
    }
{% endschema %}