<form action="" method="get">
  <input
    placeholder="Enter Zip Code"
    type="text"
    id="zip"
    name="zip"
    pattern="[0-9]+" />
  <button type="submit">
    Search
  </button>
</form>

<script type="application/json" data-states-json>
  {
  "zipcode": [
  {%- for block in section.blocks -%}
    {
    "stateid": {{- block.id | json -}}, 
    "state": {{- block.settings.state | json -}},
    "city": {{- block.settings.city | json -}},
    "age": {{- block.settings.age | json -}},
    "zipcode": {{- block.settings.zipcode | json -}},
    }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
  ]
  }
</script>



{% schema %}
  {
    "name": "Slider",
    "settings": [
      {
        "type": "html",
        "id": "json",
        "label": "Zip Codes JSON"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "Slide",
        "settings": []
      }, {
        "name": "Zip Codes",
        "type": "zipcodes",
        "settings": [
          {
            "type": "text",
            "id": "state",
            "label": "State"
          }, {
            "type": "text",
            "id": "city",
            "label": "City"
          }, {
            "type": "text",
            "id": "age",
            "label": "Age"
          }, {
            "type": "text",
            "id": "zipcode",
            "label": "Zip Code"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider"
      }
    ]
  }
{% endschema %}