<!-- Mini Banner -->
<section class="banner-section">
  <div class="marquee-wrap">
    <div class="marquee-content marquee-left">
      <span>
        {{ section.settings.marquee_text }}</span>
    </div>
  </div>
</section>
<!-- Find Taste -->
<section class="find-section">
  <div class="container">
    <div class="find-row flex">
      <div class="find-taste">
        <h2>
          {{ section.settings.heading }}
        </h2>
        <p>
          {{ section.settings.info }}
        </p>
        <form
          action="/"
          id="zipform"
          method="get">
          <div class="zipCode">
            <input
              type="text"
              id="zip"
              name="zip"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              placeholder="Enter Zip Code">
            <button type="submit" id="zipbtn"><img
                loading="lazy"
                height=""
                width=""
                src="{{ 'right-icon.svg' | asset_url }}"
                alt="right arrow"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="crystals">
    {% if section.settings.background_image != blank %}
      <img
        loading="lazy"
        src="{{ section.settings.background_image | image_url : width : section.settings.background_image.width }}"
        width="{{ section.settings.background_image.width }}"
        height=""
        alt="{{ section.settings.background_image.alt }}">
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    {% endif %}
  </div>
  <div class="drink-options owl-carousel">
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
        <div class="item">
          <div class="single-drink">
            <img
              src="{{ block.settings.image | image_url : width : block.settings.image.width }}"
              width="{{ block.settings.image.width }}"
              height=""
              alt="{{ block.settings.image.alt }}"
              loading="lazy">
          </div>
        </div>
      {% else %}
        <div class="item">
          <div class="single-drink">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
<section class="products-sticky-link">
  <div class="stickyLink">
    <span class="sticky-arrow"><img src="https://cdn.shopify.com/s/files/1/0704/2606/7242/files/go-to-products.svg?v=1675750791" alt="products long arrow icon"></span>
    <a href="#" class="sticky-rounded-text"><img src="https://cdn.shopify.com/s/files/1/0704/2606/7242/files/circlular-text.svg?v=1675751568" alt="Discover Our Products" ></a>
  </div>
</section>
<script
  src="{{ 'zipcode.js' | asset_url }}"
  type="text/javascript"
  defer></script>

{% schema %}
  {
    "name": "Slider",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "info",
        "label": "Description"
      }, {
        "type": "text",
        "id": "marquee_text",
        "label": "Marquee Text"
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider"
      }
    ]
  }
{% endschema %}