<!-- Kranium Products -->

{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<section class="products-section">
  <div class="container">
    <div class="kranium-content">
      <h2>
        {{ section.settings.heading }}
      </h2>
      <div class="product-tabs-header appointment-tabs flex space center">
        <nav>
          <div
            class="nav nav-tabs nav-fill"
            id="nav-tab"
            role="tablist">
            <a
              class="nav-item nav-link active show"
              id="soda-tab"
              data-toggle="tab"
              href="#soda">Soda</a>
            <a
              class="nav-item nav-link"
              id="seltzer-tab"
              data-toggle="tab"
              href="#seltzer">Seltzer</a>
            <a
              class="nav-item nav-link"
              id="tea-tab"
              data-toggle="tab"
              href="#tea">Tea</a>
          </div>
        </nav>
      </div>
      <div class="tab-content px-sm-0" id="nav-tabContent">
        <!-- Tab1 -->
        <div
          class="tab-pane fade active show"
          id="soda"
          role="tabpanel"
          aria-labelledby="nav-home-tab">
          <div class="product-tab-wrap">
            <div class="products-inner-tabs">
              <nav>
                <div
                  class="nav nav-tabs nav-fill"
                  id="nav-tab"
                  role="tablist">
                  {% for block in section.blocks %}
                    {% if block.type == 'soda' %}
                      {% assign collection = collections[block.settings.soda_collection] %}
                      <a
                        class="nav-item nav-link {% if forloop.first %} active show {% endif %}"
                        id="{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-tab-{{ block.type }}"
                        data-toggle="tab"
                        href="#{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-{{ block.type }}">{{ collection.title }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </nav>
            </div>
            <div class="tab-content px-sm-0" id="nav-tabContent">
              {% for block in section.blocks %}
                {% if block.type == 'soda' %}
                  {% assign collection = collections[block.settings.soda_collection] %}
                  <div
                    class="tab-pane fade {% if forloop.first %} active show {% endif %}"
                    id="{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-{{ block.type }}"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    {% if collection.products.size == 0 %}
                      <div class="title-wrapper center">
                        <h2 class="title title--primary">
                          {{ 'sections.collection_template.empty' | t }}<br>
                          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
                        </h2>
                      </div>
                    {% else %}
                      <div class="products-slider owl-carousel">
                        {% for product in collection.products %}                          
                          <div class="item">
                            {% render 'custom-card-product',
                              card_product: product,                                                                                          
                              show_rating: section.settings.show_rating,
                              lazy_load: lazy_load,
                              show_quick_add: section.settings.enable_quick_add,
                              section_id: section.id
                            %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Tab2 -->
        <div
          class="tab-pane fade"
          id="seltzer"
          role="tabpanel"
          aria-labelledby="nav-home-tab">
          <div class="product-tab-wrap">
            <div class="products-inner-tabs">
              <nav>
                <div
                  class="nav nav-tabs nav-fill"
                  id="nav-tab"
                  role="tablist">
                  {% assign seltzerCount = 1 %}
                  {% for block in section.blocks %}
                    {% if block.type == 'seltzer' %}
                      {% assign collection = collections[block.settings.seltzer_collection] %}
                      <a
                        class="nav-item nav-link {% if seltzerCount == 1 %} active show {% endif %}"
                        id="{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-tab-{{ block.type }}"
                        data-toggle="tab"
                        href="#{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-{{ block.type }}">{{ collection.title }}</a>
                      {% assign seltzerCount = seltzerCount | plus: 1 %}
                    {% endif %}
                  {% endfor %}
                </div>
              </nav>
            </div>
            <div class="tab-content px-sm-0" id="nav-tabContent">
              {% assign seltzerProductCount = 1 %}
              {% for block in section.blocks %}
                {% if block.type == 'seltzer' %}
                  {% assign collection = collections[block.settings.seltzer_collection] %}
                  <div
                    class="tab-pane fade {% if seltzerProductCount == 1 %} active show {% endif %}"
                    id="{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-{{ block.type }}"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    {% if collection.products.size == 0 %}
                      <div class="title-wrapper center">
                        <h2 class="title title--primary">
                          {{ 'sections.collection_template.empty' | t }}<br>
                          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
                        </h2>
                      </div>
                    {% else %}
                      <div class="products-slider owl-carousel">
                        {% for product in collection.products %}                          
                          <div class="item">
                            {% render 'custom-card-product',
                              card_product: product,                                                                                          
                              show_rating: section.settings.show_rating,
                              lazy_load: lazy_load,
                              show_quick_add: section.settings.enable_quick_add,
                              section_id: section.id
                            %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  {% assign seltzerProductCount = seltzerProductCount | plus: 1 %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Tab3 -->
        <div
          class="tab-pane fade"
          id="tea"
          role="tabpanel"
          aria-labelledby="nav-home-tab">
          <div class="product-tab-wrap">
            <div class="products-inner-tabs">
              <nav>
                <div
                  class="nav nav-tabs nav-fill"
                  id="nav-tab"
                  role="tablist">
                  {% assign teaProductCount = 1 %}
                  {% for block in section.blocks %}
                    {% if block.type == 'tea' %}
                      {% assign collection = collections[block.settings.tea_collection] %}
                      <a
                        class="nav-item nav-link {% if teaProductCount == 1 %} active show {% endif %}"
                        id="{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-tab-{{ block.type }}"
                        data-toggle="tab"
                        href="#{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-{{ block.type }}">{{ collection.title }}</a>
                      {% assign teaProductCount = teaProductCount | plus: 1 %}
                    {% endif %}
                  {% endfor %}
                </div>
              </nav>
            </div>
            <div class="tab-content px-sm-0" id="nav-tabContent">
              {% assign teaCount = 1 %}
              {% for block in section.blocks %}
                {% if block.type == 'tea' %}
                  {% assign collection = collections[block.settings.tea_collection] %}
                  <div
                    class="tab-pane fade active show"
                    id="{{ collection.title | strip_html | escape | downcase | replace: ' ', '-' }}-{{ block.type }}"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    {% if collection.products.size == 0 %}
                      <div class="title-wrapper center">
                        <h2 class="title title--primary">
                          {{ 'sections.collection_template.empty' | t }}<br>
                          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
                        </h2>
                      </div>
                    {% else %}
                      <div class="products-slider owl-carousel">
                        {% for product in collection.products %}                          
                          <div class="item">
                            {% render 'custom-card-product',
                              card_product: product,                                                                                          
                              show_rating: section.settings.show_rating,
                              lazy_load: lazy_load,
                              show_quick_add: section.settings.enable_quick_add,
                              section_id: section.id
                            %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  {% assign teaCount = teaCount | plus: 1 %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection Tabbing",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Kranium Products"
      },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    }
    ],
    "blocks": [
      {
        "type": "soda",
        "name": "Soda Collection",
        "settings": [
          {
            "type": "collection",
            "id": "soda_collection",
            "label": "Collection"
          }
        ]
      }, {
        "type": "seltzer",
        "name": "Seltzer Collection",
        "settings": [
          {
            "type": "collection",
            "id": "seltzer_collection",
            "label": "Collection"
          }
        ]
      }, {
        "type": "tea",
        "name": "Tea Collection",
        "settings": [
          {
            "type": "collection",
            "id": "tea_collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Tabbing"
      }
    ]
  }
{% endschema %}