<!-- Subscription -->
<section class="subscription-section">

  {% if section.settings.marquee_text != blank %}
    <div class="marquee-wrap">
      <div class="marquee-content marquee-left">
        <span>
          {{ section.settings.marquee_text }}
        </span>
      </div>
    </div>
  {% endif %}
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
      <div class="container">
        <div class="subscription-content">
          <h3>
            {{ block.settings.heading | newline_to_br }}
          </h3>
          <p>
            {{ block.settings.info }}
          </p>
          {% if block.settings.button_text != blank %}
            <a href="{{ block.settings.button_url | default: '#' }}">
              {{ block.settings.button_text }}
            </a>
          {% endif %}
        </div>
      </div>
      {% when 'images' %}
      <div class="subscription-image">
        {% if block.settings.main_img != blank %}
          <img
            loading="lazy"
            src="{{ block.settings.main_img | image_url : width : block.settings.main_img.width }}"
            alt="{{ block.settings.main_img.alt }}">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {% endif %}
      </div>
      {% if block.settings.small_img != blank %}
        <div class="subscription-image img2">
          <img
            loading="lazy"
            src="{{ block.settings.small_img | image_url : width : block.settings.small_img.width }}"
            alt="{{ block.settings.small_img.alt }}">
        </div>
      {% endif %}
    {% endcase %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Subscriptions",
    "settings": [
      {
        "type": "text",
        "id": "marquee_text",
        "label": "Marquee Text",
        "default": "Drinks that taste as good as they make you feel"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "inline_richtext",
            "id": "info",
            "label": "Text"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "See Subscription"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      }, {
        "type": "images",
        "name": "Images",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "main_img",
            "label": "Main Image"
          }, {
            "type": "image_picker",
            "id": "small_img",
            "label": "Secondary Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Subscriptions"
      }
    ]
  }
{% endschema %}