<section class="stores">
  <select name="stores" id="stores">
    {% for block in section.blocks %}
      <option data-stateid="{{ block.id }}" value="{{ block.settings.state_name | uniq }}">
        {{ block.settings.state_name | uniq }}
      </option>
    {% endfor %}
  </select>

  <ul id="stores-embed"></ul>
</section>


<script type="application/json" id="store-list">
  {
  "stores" : [
  {%- for block in section.blocks -%}
    {
    "state_id" : {{ block.id | json }},
    "state_name" : {{ block.settings.state_name | json }},
    "store_name" : {{ block.settings.store_name | json }},
    "store_image" : {{ block.settings.store_image | json }},
    "store_address" : {{ block.settings.store_address | json }},
    "store_opens" : {{ block.settings.store_opens | json }},
    "store_closes" : {{ block.settings.store_closes | json }},
    "store_working" : {{ block.settings.store_working | json }}
    }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  ]
  }</script>
{% schema %}
  {
    "name": "store",
    "settings": [],
    "blocks": [
      {
        "name": "store",
        "type": "store",
        "settings": [
          {
            "type": "text",
            "id": "state_name",
            "label": "State Name"
          },
          {
            "type": "text",
            "id": "store_name",
            "label": "Store Name"
          },
          {
            "type": "image_picker",
            "id": "store_image",
            "label": "Store Image"
          },
          {
            "type": "textarea",
            "id": "store_address",
            "label": "Store Address"
          }, {
            "type": "text",
            "id": "store_opens",
            "label": "Store Opens"
          }, {
            "type": "text",
            "id": "store_closes",
            "label": "Store Closes"
          }, {
            "type": "text",
            "id": "store_working",
            "label": "Store Working Days"
          }
        ]
      }
    ]
  }
{% endschema %}