<!-- plans -->
<section class="plans-section">
  <div class="container">
    <div class="plans-list flex jc-sb">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when '6-pack' %}
          {% if block.settings.plan_product != blank %}
            {% assign selling_product = all_products[block.settings.plan_product] %}
            <div class="plan-wrap standard">
              <div class="single-plan">
                <div class="plan-prices">
                  <h3>
                    {{ block.settings.plan_price }}
                  </h3>
                  <h4>
                    {{ block.settings.plan_name }}
                  </h4>
                  <span>
                    {{ block.settings.plan_recurring }}
                  </span>
                </div>
                <div class="plan-features">
                  <ul>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum dolor sit</li>
                  </ul>
                </div>
                <div class="subsBtn">
                  <a href="{{ selling_product.url }}">Subscribe {% render 'right-arrow-small' %}
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
          {% when '12-pack' %}
          {% if block.settings.plan_product != blank %}
            {% assign selling_product = all_products[block.settings.plan_product] %}
            <div class="plan-wrap standard essentials">
              <div class="single-plan">
                <div class="plan-prices">
                  <h3>
                    {{ block.settings.plan_price }}
                  </h3>
                  <h4>
                    {{ block.settings.plan_name }}
                  </h4>
                  <span>
                    {{ block.settings.plan_recurring }}
                  </span>
                </div>
                <div class="plan-features">
                  <ul>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum dolor sit</li>
                  </ul>
                </div>
                <div class="subsBtn">
                  <a href="{{ selling_product.url }}">Subscribe {% render 'right-arrow-small' %}</a>
                </div>
              </div>
            </div>
          {% endif %}
          {% when '24-pack' %}
          {% if block.settings.plan_product != blank %}
            {% assign selling_product = all_products[block.settings.plan_product] %}
            <div class="plan-wrap premium">
              <div class="single-plan">
                <div class="plan-prices">
                  <h3>
                    {{ block.settings.plan_price }}
                  </h3>
                  <h4>
                    {{ block.settings.plan_name }}
                  </h4>
                  <span>
                    {{ block.settings.plan_recurring }}
                  </span>
                </div>
                <div class="plan-features">
                  <ul></ul>
                </div>
                <div class="subsBtn">
                  <a href="{{ selling_product.url }}">Subscribe {% render 'right-arrow-small' %}</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Subscriptions",
    "settings": [],
    "blocks": [
      {
        "type": "6-pack",
        "name": "6 Pack",
        "settings": [
          {
            "type": "text",
            "id": "plan_price",
            "label": "Plan Price"
          },
          {
            "type": "text",
            "id": "plan_name",
            "label": "Plan Name"
          },
          {
            "type": "text",
            "id": "plan_recurring",
            "label": "Plan Recurring"
          },
          {
            "type": "product",
            "id": "plan_product",
            "label": "Plan Product"
          }, {
            "type": "text",
            "id": "plan_feature_1",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_2",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_3",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_4",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_5",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_6",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_7",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_8",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_9",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_10",
            "label": "Feature"
          }
        ]
      }, {
        "type": "12-pack",
        "name": "12 Pack",
        "settings": [
          {
            "type": "text",
            "id": "plan_price",
            "label": "Plan Price"
          },
          {
            "type": "text",
            "id": "plan_name",
            "label": "Plan Name"
          },
          {
            "type": "text",
            "id": "plan_recurring",
            "label": "Plan Recurring"
          },
          {
            "type": "product",
            "id": "plan_product",
            "label": "Plan Product"
          }, {
            "type": "text",
            "id": "plan_feature_1",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_2",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_3",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_4",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_5",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_6",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_7",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_8",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_9",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_10",
            "label": "Feature"
          }
        ]
      }, {
        "type": "24-pack",
        "name": "24 Pack",
        "settings": [
          {
            "type": "text",
            "id": "plan_price",
            "label": "Plan Price"
          },
          {
            "type": "text",
            "id": "plan_name",
            "label": "Plan Name"
          },
          {
            "type": "text",
            "id": "plan_recurring",
            "label": "Plan Recurring"
          },
          {
            "type": "product",
            "id": "plan_product",
            "label": "Plan Product"
          }, {
            "type": "text",
            "id": "plan_feature_1",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_2",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_3",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_4",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_5",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_6",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_7",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_8",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_9",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "plan_feature_10",
            "label": "Feature"
          }
        ]
      }
    ]
  }
{% endschema %}